<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phycholee.blog.dao.TagDao">
  <resultMap id="BaseResultMap" type="com.phycholee.blog.model.Tag">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="jumbotron" jdbcType="VARCHAR" property="jumbotron" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, description, jumbotron
  </sql>

  <sql id="Condition_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <select id="selectByCondition" parameterType="com.phycholee.blog.model.TagCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tag
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >= 0">
      limit #{limitStart}, #{limitEnd}
    </if>
  </select>

  <select id="countByCondition" parameterType="com.phycholee.blog.model.TagCriteria" resultType="java.lang.Integer">
    select count(*) from tag
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
  </select>

  <!--插入中间表-->
  <select id="insertArticleTag" parameterType="java.util.Map">
    insert into article_tag(a_id, t_id)
    values
    <foreach collection="tagIds" item="tagId" separator=",">
      (#{articleId}, #{tagId})
    </foreach>
  </select>

  <!--删除文章所有标签-->
  <delete id="deleteArticleTag" parameterType="java.lang.Integer">
    delete from article_tag
    where
    a_id = #{articleId}
  </delete>

  <select id="findTagsByArticle" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tag t
    join article_tag ar on (ar.t_id = t.id)
    where
    ar.a_id = #{articleId}
  </select>

  <!--查找所有标签-->
  <select id="findTags" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from tag
  </select>

  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from tag
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.phycholee.blog.model.Tag">
    insert into tag (name, description, jumbotron
      )
    values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{jumbotron,jdbcType=VARCHAR}
      )
  </insert>

  <update id="update" parameterType="com.phycholee.blog.model.Tag">
    update tag
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="jumbotron != null">
        jumbotron = #{jumbotron,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>